<h1>Editing assignment_result</h1>

<%= render 'form' %>

<%= link_to 'Show', [@course, @assignment, @assignment_result] %> |
<%= link_to 'Back', course_assignment_assignment_results_path(@course, @assignment) %>
