<table class="table">
	<thead>
		<tr>			
			<td>Email: </td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @user.email %></td>
		</tr>
	</tbody>
</table>
<% @enrollments.each do |enrollment| %>
	<h2>Course: <%= enrollment.course.name %> </h2>
	<% if enrollment.assignment_results.count > 0 %>
		<table class="table">
			<thead>
				<tr>				
					<td>Assignment</td>
					<td>Result</td>
				</tr>
			</thead>
			<tbody>
				<% enrollment.assignment_results.each_with_index do |re, index| %>
					<tr>
						<td><%= link_to re.assignment.title, [enrollment.course , re.assignment] %></td>
						<td><%= re.pass || "fail" %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
<% end %>