<%= render 'assignments/sidebar' %>
<h6>Config Management</h6>
<ul>
<li><%= link_to 'New config', new_course_assignment_assignment_config_path(@course, @assignment) , :class => 'btn btn-default' %></li>
</ul>
