<h1>Editing assignment_config</h1>

<%= render 'form' %>

<%= link_to 'Show', [@course, @assignment, @assignment_config] %> |
<%= link_to 'Back', course_assignment_assignment_configs_path(@course, @assignment) %>
