<% if @course.assignments.count > 0 %>
	<ul>
		<% @course.assignments.each do |as| %>
			<li>
				<%= link_to as.title, [@course, as] %>
				<% if can? :manage, @course %>
					 <%= link_to 'Configs', course_assignment_assignment_configs_path(@course, as) %>
				<% end %>
				<% if can? :take, as %>
					<%= link_to 'Take', new_course_assignment_assignment_result_path(@course, as) %>
				<% end %>
			</li>
		<% end %>
	</ul>
<% end %>