
<% content_for :sidebar do %>
	Course lists:
	<% if my_courses.length > 0 %>
		<ul>
		<% my_courses.each do |c| %>
			<li><%= link_to c.name, course_path(c) %></li>
		<% end %>
		</ul>
	<% end %>
<% end %>
<h1>New course</h1>

<%= render 'form' %>

<%= link_to 'Back', courses_path, :class => 'btn btn-default' %>
